<div class="dialogue">
  <div class="tab active" data-group="primary" data-tab="threat">
  <div class="row">
    <span class="tracktitle cheatsheet" title="Threat serves in part as a mirror of the players’ Momentum pool. Adversary NPCs may spend Threat in all the ways player characters can spend Momentum.">NPC Momentum</span>
    <div class="column value">
      Variable, see Momentum spends
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="On any action where a player character would be required to add Threat, an NPC must spend Threat instead.">NPC Threat Cost</span>
    <div class="column value">
      Variable
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="If an NPC suffers a complication, you may buy off that complication.">NPC Complications</span>
    <div class="column value">
      2 Threat
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="The gamemaster may create a negative trait by spending 2 Threat. This must come naturally from some part of the current situation.">Complication</span>
    <div class="column value">
      2 Threat
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="Minor NPCs cost 1 Threat each, while Notable NPCs cost 2 Threat. A starship can be brought in by spending Threat equal to the ship’s Scale.">Reinforcements</span>
    <div class="column value">
      1-6 Threat
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="The gamemaster may trigger or cause problems with the scene or environment by spending Threat.">Environmental Effects and Narrative Changes</span>
    <div class="column value">
      1-2 Threat
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="inflict Stress suddenly on a single character. The number of points of Threat spent determines how much damage is inflicted and if there are any qualities. Characters or ships affected may attempt a task to resist or avoid the effects.">Immediate Hazards</span>
    <div class="column value">
      1-2 Threat
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="inflict Stress suddenly on a single character. The number of points of Threat spent determines how much damage is inflicted and if there are any qualities. Characters or ships affected may attempt a task to resist or avoid the effects.">Immediate Hazards</span>
    <div class="column value">
      1-2 Threat
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="Show the players a fact that they wish was not true, such as an NPC betraying them or that they are in an ambush.">Reveal</span>
    <div class="column value">
      4 Threat
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="End the scene immediately, with the situation unresolved.">Reversal</span>
    <div class="column value">
      2 Threat Per Player
    </div>
  </div>
  </div>
</div>
