<div class="dialogue">
  <div class="tab active" data-group="primary" data-tab="momentum">
    <div class="title">Common Momentum Spends</div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="Before you attempt a task (but after the gamemaster sets its Difficulty), build your dice pool, starting with 2d20. Add bonus d20s granted from talents and other game effects. Add more d20s by spending Momentum or adding Threat. The first bonus die costs 1, the second costs 2 more, and the third costs 3 more. You can't roll more than 5d20 on any task attempt.">Create Opportunity</span>
    <div class="column value">
      Immediate, Repeatable, 1-6 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="You can establish a new trait in the scene, or change, increase the Potency of, or remove a trait currently in play. A trait you create must relate to the task you just passed, and it must be something that would result from your actions.">Alter Trait</span>
    <div class="column value">
      2 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="You can spend 2 Momentum to reduce the time it takes to complete the activity represented by the task, typically taking half the normal amount of time. You can’t use this option during an action scene.">Reduce Time</span>
    <div class="column value">
      2 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="During your turn in an action scene, you may spend 2 Momentum to take an additional major action. However, any task roll attempted as part of this action increases in Difficulty by 1.">Swift Action</span>
    <div class="column value">
      2 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="During your turn in an action scene, you may spend 1 Momentum to take an additional minor action. Each minor action may only be performed once per turn.">Extra Minor Action</span>
    <div class="column value">
      1 Momentum
    </div>
  </div>
    <div class="title">Personal Conflict Momentum Spends</div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="Increase the severity of a successful attack by 1 for every 2 Momentum spent.">Added Severity</span>
    <div class="column value">
      Repeatable, 2 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="Before attempting a task (but after the gamemaster sets its Difficulty), start your dice pool with 2d20. Add bonus d20s granted from talents and other game effects. Add more d20s by spending Momentum or adding Threat. The first bonus die costs 1, the second costs 2 more, and the third costs 3 more. You can't roll more than 5d20 on a task attempt.">Buy D20s</span>
    <div class="column value">
      Immediate, Repeatable, 1-3 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="Target drops one weapon they are holding to within their Reach. This costs 1 Momentum if the weapon is held in one hand. If the weapon is two-handed, the cost increases to 2 Momentum.">Disarm</span>
    <div class="column value">
      1-2 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="At the end of your turn, pass the next turn to an ally instead of an enemy. Once that ally has acted, the next turn must go to an enemy.">Keep The Initiative</span>
    <div class="column value">
      Immediate, 2 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="You can ask the gamemaster a single question about the scene. The question must be related to the task attempted, and the gamemaster must answer truthfully but doesn’t have to give complete information. If there’s no information your character could determine, the gamemaster may answer “you don’t know,” but they must refund the Momentum spent for that question.">Obtain Information</span>
    <div class="column value">
      Repeatable, 1-3 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="After a successful task, you may spend 2 Momentum to remove 1 Stress (Repeatable) from yourself or one ally who can hear you. A character cannot remove more than 3 Stress in this way on any single task.">Recovering Stress</span>
    <div class="column value">
      Repeatable, 2 Momentum
    </div>
  </div>
    <div class="title">Starship Combat Momentum Spends</div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="Increase the damage of a successful attack by 1 for every 2 Momentum spent.">Added Damage</span>
    <div class="column value">
      Repeatable, 2 Momentum
    </div>
  </div>
  <div class="row">
    <span class="tracktitle cheatsheet" title="Roll an additional system; that system suffers a hit dealing half the attack’s damage, rounding up.">Devastating Attack</span>
    <div class="column value">
      2 Momentum
    </div>
  </div>
  </div>
</div>
