
body.system-sta .right-column {
display: flex;
flex-wrap: wrap;
flex:1;
}

body.system-sta .top-right-column {
display: flex;
flex-wrap: wrap;
flex:1;
}

body.system-sta .bottom-left-column {
display: flex;
flex-wrap:nowrap;
flex-direction: column;
}

body.system-sta .bottom-right-column {
display: flex;
flex-wrap:wrap;
flex:1;
flex-direction: column;
}

body.system-sta .bottom-right-column .sheet-tabs {
flex-basis:100%;
}

body.system-sta .name-field {
flex-basis:100%;
}

body.system-sta .top-right-column .npc-block{
flex-basis:100%;
}

body.system-sta .top-right-column .tracktitle{
flex-basis:100%;
}

body.system-sta .starship-sheet .right-column .track{
flex-basis:100%;
}

body.system-sta .top-right-column .track{
display: flex;
flex-basis:100%;
}

body.system-sta .character-sheet .big-row{
display: flex;
}

body.system-sta .big-row-column .checkbox{
justify-content: flex-start;
}

body.system-sta .character-sheet .row{
display: flex;
align-items: center;
padding-right:0.3rem;
}

body.system-sta .character-sheet .section {
flex-basis:100%;
}

body.system-sta .starship-sheet .section {
flex-basis:100%;
}

body.system-sta .character-sheet .application.sheet {
max-width:90%;
}

body.system-sta .character-sheet .title{
flex-basis:100%;
}

body.system-sta .note2e {
flex:1;
}


body.system-sta h4 > .chat-portrait-playerName-generic {
font-size: 14px;
}

body.system-sta h4 > .chat-portrait-indicator-generic {
font-size: 14px;
}

body.system-sta .form-fields > textarea {
resize: vertical;
}

body.system-sta #roll-privacy > button.ui-control.icon.fa-solid.fa-user {
display: none;
}

body.system-sta .dice-rolls .checkbox-container > input[type=checkbox]{
padding: 2px 2px 0px 2px;
outline: 1px solid #1e5180;
}

body.system-sta .note .editor-content {
    border: white 1px solid;
    border-radius: 2%;
    padding: 5px;
    margin: 5px;
}

.prosemirror button.toggle:disabled, prose-mirror button.toggle:disabled {
    display: none;
}

.prosemirror button.toggle:not(:disabled), prose-mirror button.toggle:not(:disabled) {
    top: 1rem;
    right: 1rem;
    display: block;
}

.tracker-container .tracker .button-group {
    height: 34px;
}

body.system-sta .character-sheet .title,
body.system-sta .starship-sheet .title {
height: 1.5rem;
display: flex;
align-items: center;
}

body.system-sta .starship-sheet .right-column .section.values:has([data-type="value"]) {
display: none;
}

/* NEW for STA 2.5.0 */

.chat-message.message.flexcol .chatcard.tracker .threattext {
    color: #ff5858;
}

.chat-message.message.flexcol .chatcard .greentext {
    color: #64d363;
}
.chat-message.message.flexcol .chatcard .redtext {
    color: #ff5858;
}

.chat-message {
    border: blue;
    border-radius: 6px;
    background: rgba(11, 10, 19, 0.9);
}